html{
    font-size: 10px !important;
}
html,body{
    height: 100%;
    font-family: 'open-sans', 'sans-serif';
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a, a:hover{
    transition: all .4s ease-in-out;
}